.page_wrap{
    display:none;
}

#raw_contract {
	font-family: monospace;
	font-size: smaller;
}

#notifier {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1050;
    margin: .5em;
    width: 50%;
}
.alert .align-w-btn {
    line-height: 30px;
}